<button (click)="addRecipe()" style="margin-top: 10px">Add New Recipe</button>
<div *ngFor="let recipe of myRecipes" class="card">
    <img class="align-left" src={{recipe.img}}>
    <h3 class="type">{{recipe.type}}</h3>
    <h2 class="align-right">{{recipe.name}}</h2>
    <p><a href="{{recipe.link}}" target="_blank">Click for Recipe</a></p>
    <h3>Notes:</h3>
    <p>{{recipe.notes}}</p>
    <button (click)="delete(recipe)" class="delete pull-right">Delete Recipe</button>
    <button (click)="edit(recipe)" class="delete pull-left">Edit Recipe</button>
</div>
