/* You can add global styles to this file, and also import other style files */
h1 {
    font-family: 'Julius Sans One', sans-serif;
}
h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
}
h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 16px;
}
p {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
}
label {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
}
button {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
}
.modal-sm {
    max-width: 200px;
    /* margin: auto; */
}
.modal-content {
    border: 1px black;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
/* .card {
    margin: 10;
    text-indent: 10px;
    border-width: 3px;
    border-color: black;
    border-radius: 3px;
    width: 500px;
    max-width: 500px;
} */
