/* You can add global styles to this file, and also import other style files */
h1 {
    font-family: 'Julius Sans One', sans-serif;
}
p {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
}