.card {
    margin-top: 10px;
    text-indent: 10px;
    border-width: 3px;
    border-color: black;
    border-radius: 3px;
    width: 500px;
    background: rgb(249, 246, 246);
}

img {
    margin-top: 10px;
    height: auto;
    width: 50%;
}
