.card {
    margin-top: 10px;
    text-indent: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(14, 14, 14);
    border-radius: 3px;
    width: 500px;
    height: 300px;
    background: rgb(249, 246, 246);
}

img {
    margin-top: 10px;
    height: auto;
    width: 40%;
}

.type {
    width:42%;
    float: right;
    text-align: right;
    margin-right: 10px;
}

.owner {
    float: right;
    text-align: right;
    margin-right: 10px;
}

.delete {
    float: right;
    margin-right: 10px;
}
